<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @post.uid %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Username:</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Link:</strong>
  <%= @post.link %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
